@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
            shear section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.secendary-color{
    color: rgb(230, 83, 60);
}
.secendary-bg{
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border-color: rgb(230, 83, 60);
    
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        header ,menu section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.header-container{
    margin:0 auto;
    height: auto;
    width: 100%;
    background :linear-gradient(180.00deg, rgb(0, 0, 0),rgba(95, 95, 95, 0) 100%);
}
nav{
    
    margin:0 auto;
    width: 75%;
    height: 46px;
}
.fitness-menu{
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name{
    align-items: center;
    width: 15%;
    height: 43px;
}
.header-name h3{
    font-size: 36px;
    font-weight: 800;
}
.header-menu{
    padding:1vh;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:39px ;
    width: 40%;
    height: 46px;
}
.header-menu ul{
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    gap: 47px;
}
.header-menu ul li a{

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    width: 64px;
    /* height: 22px; */
}
.header-menu ul li a span{
    padding: 8px 20px 8px 20px;
    width: 100%;
    height: 100%;
}
.phone-bar{
    display: none;
    width: 5%;
    color: rgb(255, 255, 255);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        banner section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.fitnes-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 270px;
    align-items: center;
    /* margin-top: 96px; */
    width: 80%;
    margin: auto;
}
.fitnes-banner-text{
    width: 100%;
    /* height: 442px; */
}
.fitnes-banner-text h1{
    font-size: 78px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 28px;
}
.fitnes-banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 28px;
}
button a{
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}
.btn-normal{
    border-color: rgb(255, 255, 255);
    background: transparent;
}
.fitnes-banner-img{
margin-top: 90px;
position: relative;
}

.fitnes-banner-img img{
    width: 100%;
    /* height: 580px; */
}
/* card section */
.big-card{
    position: absolute;
    top: 18%;
    left: 65%;
    width: 193px;
    height: 98px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding-left: 23px;
}
.big-card h3{
    margin: auto;
    margin-top: 17px;
    width: 116px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.big-card p{
    margin-top: 5px;
    margin: auto;
    width: 146px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.min-card{
    position: absolute;
    right: 80%;
    bottom: 20%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 12px;
    gap: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    padding-left: 23px;
    
}
.min-card h3{
    margin: auto;
    margin-top: 17px;
    width: 116px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.min-card p{
    margin-top: 5px;
    margin: auto;
    width: 146px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.animition{
    margin:auto ;
    border-radius: 45%;
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60) ;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        main section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */


/* habits section */

.main-section{
    width:100%;
    margin: auto;
    background: rgb(0, 0, 0);
}
.container{
    margin: auto;
    width: 80%;
}
/* .habits-section{

} */
.habits-container{
    width: 80%;
    margin: auto;
}
.habits-title{
    padding: 100px 0;
    margin: auto;

}
.habits-title h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.habits-title p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
    margin-bottom:58px ;
}
.habits-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom:100px ;
    
}
.habits-img-item{
    
    width: 231px;
    height: 274px;
}
.habits-img{
    padding-left:28px ;
    margin-bottom: 30px;
}
.habits-img-item img{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 45%;
}
.habits-img-item h4{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.habits-img-item p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        run section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.run-container{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 95%;
    margin: auto;
    
}
.run-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 78px;
    gap: 50px;
}
.run-text{
    margin: 40px;
}
.run-text h2{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}
.run-text p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 44px;
}
.run-img img{
    margin: 30px;
    margin-top: 32px;
    margin-bottom: 29px;
    border-radius: 18px;
    width: 90%;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        BMI section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.bmi-calculator{
    margin-top: 88px;
    background: rgb(34, 34, 34);
    width: 100%;
    margin: 0 auto;
    /* height: 487px; */
}
.bmi-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bmi-title{
    
    width: 50%;
    margin: auto;
}
.bmi-title h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 14px;
}
.bmi-title p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 18px;
}
.bmi-chart-title{
    
    padding: 52px 170px;
    width: 50%;
    margin: 0 auto;
}
.bmi-chart-title h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}
.bmi-chart{
    margin-top: 52px;
}
.bmi-chart table{
    border-collapse: collapse;
}
.th{
    color: rgb(255, 255, 255);
}
th,td{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    text-align: center;
}
/*=-=-=-=-=- BMI calculet =-=-=-=-=-=*/

.bmi-calculet-section{
    width: 50%;
    margin: auto;
}
.bmi-calculat form{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
}
.bmi-calculator{
    margin-top: 50px;
}
.bmi-calculat-title h2{
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-calculat-title p{
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    
}
#gander option{
    background-color: black;
    color: rgba(255, 255, 255, 0.5); 
}

.inp{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 18px;
}
.slt{
    width: 100%;
}
.cls{
    display: none;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        our team section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
.our-team-section{
    width: 100%;
}
.team-container{
    width: 80%;
    margin: auto;
}
.team-title h2{
    margin-top: 88px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.team-title p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}
.our-team{
    margin-top: 58px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    /* height: 604px; */
}
.team-member{
    margin: auto;
    margin-bottom: 20px;
}
.team-member img{
    border-radius: 18px;
    width: 310px;
    height: 260px;
}
/* ==--=member title position */
.member-1{
    position: relative;
}
.img-title-1{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.member-2{
    position: relative;
}
.img-title-2{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.member-3{
    position: relative;
}
.img-title-3{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.member-4{
    position: relative;
}
.img-title-4{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.member-5{
    position: relative;
}
.img-title-5{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.member-6{
    position: relative;
}
.img-title-6{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
/* =-==-=-=our member position end */

.img-title h5{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 600;
}
.img-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
        footer section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---= */
footer{
    margin-top: 88px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    margin: auto;
    width: 80%;
}
.footer-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.fitnes-footer{
    width: 45%;
    padding-top: 64px;
}
.fitnes-footer h2 em{
    color: rgb(230, 83, 60);
    font-size: 72px;
    font-weight: 900;
    
    
}
.fitnes-footer p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.fitnes-about{
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 150px;
    
}
.fitnes-about h3{

    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 38px;
}
.fitnes-about a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

hr{
    margin-top:80px ;
    background-color: rgba(255, 255, 255, 0.5);
}
.footer-end{
    padding: 20px;
    margin: auto;
    width: 25%;
    
}
.footer-end p{
    color: white;
    color: rgba(255, 255, 255, 0.5);
}
.footer-end span{
    text-transform: uppercase;
}