@media screen and (min-width:768px) and (max-width:1024px){

    /*=-=-=-=-=-= header section =-=-=-=-=-= */
    .fitnes-banner{
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }
    .header-container{
        height: auto;
        width: auto;
    }
    .fitness-menu{
        justify-content: space-around;
    }
    .fitnes-banner-text{
        margin: auto;
        margin-top: 121px;
    }
    .fitnes-banner-img{
        margin: auto;
    }
    /*=-=-=-=-=-= habits section =-=-=-=-=-= */
    .main-section{
        width: auto;
    }
    .habits-section{
        width: auto;
    }
    .habits-img-item{
        margin-bottom: 40px;
    }
    .habits-item{
        grid-template-columns: repeat(2,2fr);
    }

}